{
  "extends": "react-app",
  "rules": {
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"],
    "no-unused-vars": ["error"]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"]
}
